<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="   
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
	http://www.springframework.org/schema/data/mongo
    http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
    http://www.springframework.org/schema/mvc
			   http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- 依赖的服务属性配置器 -->
	<bean id="propertyConfigurer" 
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
		<property name="locations">
			<list>
				<value>classpath:cache/redis/redis-cluster.properties</value>
			</list>
		</property>
	</bean>

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="20" />
		<property name="maxIdle" value="5" />
		<property name="maxWaitMillis" value="1000" />
		<property name="testOnBorrow" value="true" />
	</bean>

	<bean id="jedisCluster" class="com.keifer.core.cache.redis.cluster.JedisClusterFactory">
		<property name="addressConfig">
			<value>classpath:cache/redis/redis-cluster.properties</value>
		</property>
		<property name="addressKeyPrefix" value="redis.cluster.address.node" />
		<property name="timeout" value="3000" />
		<property name="password" value="${redis.password}" />
		<property name="maxRedirections" value="6" />
		<property name="genericObjectPoolConfig" ref="jedisPoolConfig" />
	</bean>
	
	<bean id="compositeCache" class="com.keifer.core.cache.DefaultCacheImpl" init-method="init">
		<property name="kvCacheType" value="redis"></property>
		<property name="deployType" value="cluster"></property>
	</bean>
	
</beans>